*, *::before, *::after {
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
    align-content: center;
    font-family: "Roboto", sans-serif;
}
body {
    background-color: lightgrey;
}
.TopMenu {
    background-color: white;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Feed {
    background-color: lightgrey;
    height: max-content;
    width: 100%;
}
.Publicacion {
    background-color: white;
    width: 600px;
    height: 600px;
    margin: 40px auto;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 5px;
}
.ParteSuperior {
    padding: 5px;
    display: flex;
    align-items: center;
    position: relative;
    height: 40px;
    flex: 0 0 auto;
    border-bottom: 1px solid rgb(238, 238, 238)
}
.ParteSuperior h2 {
    font-size: medium;
    position: relative;
    left: 5px;
    height: 20px;
}
.ParteSuperior h3 {
    font-size: small;
    color: lightgrey;
    position: absolute;
    right: 5px;
}
.CajaDeComentarios {
    max-height: 80px;
    min-height: 50px;
    width: 600px;
    position: relative;
    bottom: 0px;
    padding: 5px;
    flex: 0 0 auto;
    border-top: 1px solid lightgrey;
}
.Imagen {
    overflow: hidden;
    padding: auto;
    align-items: center;
    display: flex;
    flex-grow: 1;
    margin: auto;
    flex: 0 0 auto;
    max-height: 500px;
}
.Imagen img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    aspect-ratio: 598/500;    
}