*, *::before, *::after {
    box-sizing: border-box;
}
* {
    border: 1px dashed red;
    margin: 0;
    padding: 0;
    align-content: center;
    font-family: "Roboto", sans-serif;
}
.TopMenu {
    background-color: white;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Feed {
    background-color: lightgrey;
    height: max-content;
    width: 100%;
}
.Publicacion {
    background-color: white;
    width: 600px;
    height: 600px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    position: relative;
}
.ParteSuperior {
    padding: 5px;
    display: flex;
    align-items: center;
    position: relative;
    height: 40px;
}
.ParteSuperior h2 {
    font-size: medium;
    position: relative;
    left: 5px;
    height: 20px;
}
.ParteSuperior h3 {
    font-size: small;
    color: lightgrey;
    position: absolute;
    right: 5px;
}
.CajaDeComentarios {
    height: fit-content;
    max-height: 50px;
    width: 600px;
    position: absolute;
    bottom: 5px;
}
.Imagen {
    overflow: hidden;
    padding: auto;
.Imagen img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
    
    
    
    
    
    
    
    
    
    
    
    ;

}
.CajaDeComentarios {
}